{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
    <h1>Créer nouveau genre</h1>

    {{ include('genre/_form.html.twig') }}

    <a href="{{ path('app_genre_index') }}">Retour à la liste</a>
{% endblock %}
