{% extends 'base.html.twig' %}

{% block title %}New Series{% endblock %}

{% block body %}
    <h1>Créer une nouvelle séries</h1>

    {{ include('series/_form.html.twig') }}

    <a href="{{ path('app_series_index') }}">Retour à la liste</a>
{% endblock %}
